@{
    ViewBag.Title = "História";
}
<div id="conteudoHistoria">

     @*<img src="~/Content/Imagens/hydratec-logo.png" id="logoEquipe" />*@
    <img src="~/Content/Imagens/Infografico.jpg" id="imgPaginaConstrucao"/>

</div>
