@{
    ViewBag.Title = "História";
}
<div id="conteudoHistoria">

    <h2>Em construção...</h2>
    @*<img src="~/Content/Imagens/hydratec-logo.png" id="logoEquipe" />*@
    <img src="~/Content/Imagens/default-page.png" id="imgPaginaConstrucao"/>

</div>
