
@{
    ViewBag.Title = "Aptidões";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Aptidoes">
    <div class="habilidade">
        <h3> <b> Aptidões </b></h3>   
        <div>
            Aptidão 1
            <br/> <br/>
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:45%;">
                45%
            </div>
        </div>
        <div>
            <br/><br/>
            Aptidão 2
            <br/> <br/>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:70%; background-color:rebeccapurple">
                70%
            </div>
        </div>
        <div>
            <br /> <br />
            Aptidão 3
            <br/> <br/>
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:25%; background-color:darkgreen;">
                25%
            </div>
        </div>
        <br /> <br />
        </div>
    
      <div class="Linguas" >
        <h3> <b>Línguas </b></h3>
        <div >
          
        </div>
      </div>
    <div class="Hobbies">
        <h3> <b>Hobbies </b> </h3>
        
    </div>
</div>