@{
    ViewBag.Title = "Inventário";
}
<div id="conteudoPortfolio">

    @for (int i = 0; i < 8; i++)
    {
        <div class="card">
            <div id="foto" alt="Inventário"></div>
            <div class="container">
                <h4 style="color:#06586f"><b>Título</b></h4>
                <p>Nome</p>
                <p>Área de interesse</p>
                <a href="#" class="btn btn-default" role="button" style="margin:15% 0% 5% 30%; background-color:#ed8239; color:#ffffff " >Portfolio</a>
            </div>
        </div>
    }

</div>