@{
    ViewBag.Title = "Alunos";
}
<div id="conteudoPortfolio">

    @if (ViewBag.Usuarios != null)
    {
        foreach (var item in ViewBag.Usuarios)
        {
            <div class="card">
                <img src="~/Content/Imagens/ProfileBlank.png" alt="Aluno" style="width:100%">
                <div class="container">
                    <h4><b>@item.UserName</b></h4>
                    <p>Área de interesse</p>
                    <a href="#" class="btn btn-default" role="button">Portfolio</a>
                </div>
            </div>
        }
    }
    else
    {
        <h4> <br/> <br/> <br/> Ops... Ocorreu um erro ao carregar as informações :( <br />  Tente atualizar a página! </h4>
    }


</div>