
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:101.5%;" >
    <div class="Sobre" style="margin-left:3%">
        <h2>Nome</h2>
        <p>Área de interesse</p>
        <br />
        <p>sadsadsdsadsa</p>
    </div>

    <div class="Contatos">
    <div style="background-color:#06586f;color:white">
         <h3 style="margin-left:3%">Contatos</h3>
    </div>
        <br />
        <div style="margin-left:3%">
            <div style="display:inline">Endereço</div>
            <div style="display:inline">Telefone</div>
            <div style="display:inline">Celular</div>
            <div style="display:inline">Email</div>
        </div>
    </div>
    <br />
    <div class="Educação">
        <div style="background-color:#d78b33;color:white">
            <h3 style="margin-left:3%">Educação</h3>
        </div>
          <br />
        <div style="margin-left:3%">
            <div style="display:block">infor 1</div>
            <div style="display:block">infor 2</div>
        </div>
    </div>
    <br />
    <div class="Experiência Profissional">
        <div style="background-color:#c85657;color:white">
            <h3 style="margin-left:3%">Experiência Profissional</h3>
        </div>
        <br />
        <div style="margin-left:3%">
            <div style="display:block">infor 1</div>
            <div style="display:block">infor 2</div>
        </div>
    </div>
    <br />
    <div class="Certificados">
        <div style="background-color:#16783e;color:white">
            <h3 style="margin-left:3%">Certificados</h3>
        </div>
    </div>
        <br />
        <div style="margin-left:3%">
            <div style="display:block">infor 1</div>
            <div style="display:block">infor 2</div>
        </div>
    </div>
</div>